
/** =========================== Setup Fonts ================================= */

@font-face {
    font-family: Nunito;
    src: url("../webfonts/Nunito/Nunito-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url("../webfonts/Nunito/Nunito-Medium.ttf");
    font-weight: 500;
}

/** =========================== General Setup ================================= */

body{
    font-family:Nunito, sans-serif;
}


/** =========================== Login / SignUp Setup ================================= */

.start-page{
    background: linear-gradient(346deg, rgba(39,116,170,1) 35%, rgba(23,173,182,1) 100%);
    background-repeat: no-repeat;
}

.app-title{
    color: #050C9C;
}

#lightBox{
    z-index: 999;
    background-color: rgba(0, 0, 0,0.5);
}

#closeBoxBtn{
    cursor: pointer;
}

.other-options a{
    position: relative;
}

.other-options a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #00548d;
    bottom:0;
    left: 0;
    transition: all 0.5s;
}

.other-options a:hover{
    &::after{
        width: 100%;
    }
}


/** =========================== Home Setup ================================= */

.navbar-brand{
    display: inline-block;
    word-break: break-all;
    white-space: wrap;
    color: #050C9C;
}

#homePage{
    background-color: #A7E6FF ;
}

#userData{
    color:#050C9C;
    background-color: #c1edff;
    word-break: break-all;
    white-space: wrap;
}

.navbar{
  color: #050C9C;
  background-color: #c1edff;  
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #050C9C;
}

.btn-outline-custom{
    --bs-btn-color: #3007ff;
    --bs-btn-border-color: #050C9C;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #0567a9;
    --bs-btn-hover-border-color: #00548d;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #044182;
    --bs-btn-active-border-color: #043465;
}
